
body{
    padding: auto;
    height: 500px;
    width: auto;
    background-image: url("https://i.pinimg.com/originals/40/ab/84/40ab8469396d0e76483b56812aad6c84.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}



a {
    text-decoration: none;
    color: #D62983;
    font-size: 190%;
    font-style: oblique;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}


.title {
    background-position: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 400%;
    text-align: center;
    color: aquamarine;
    margin-block: 0px;
    background-image: linear-gradient(315deg, #E926BF, #7FFFD4 );    border-color: #E0E722;
    padding: 10px;
    margin: 0px;

}


h2 {
    font-size: 250%;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    text-align: center;
    text-decoration: overline;
    color: #E0E722;
}

.urlcolor {
    text-align: center;
    font-style: oblique;
    margin: 10px;
    padding: 5px 10px 5px;
}

main {
    background-color: #3c376b85;
    position: relative;
    align-items: center;
    padding: 5px ;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
}


footer{

        background-image: linear-gradient(315deg, #E926BF, #7FFFD4 );
        background-position:left;
        padding: 0px;
        margin: 0px;
        margin-top: auto;
        margin-bottom: auto;
        bottom: 0;
        position: absolute;
        width: 100%;
    }

    .Me{
        text-align: center;
        text-decoration: dotted;
        text-transform: uppercase;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        color: #E0E722;
    
    }